public/geckos
backend/bin
backend/obj
backend/.vs

.firebase/hosting.cHVibGlj.cache
.firebaserc
firebase.json
geckoimagesworker-b3ff87875739.json
firebase-debug.log
package-lock.json
firebase-tools-instant-win.exe
