@font-face {
    font-family: roboto;
    src: url("./RobotoSlab-Regular.ttf");
}

@font-face {
    font-family: robotoL;
    src: url("./RobotoSlab-Light.ttf");
}

@font-face {
    font-family: robotoM;
    src: url("./RobotoMono-Light.ttf");
}

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

    .navbar img {
        display: block;
        float: left;
        height: 48px;
        width: auto;
    }

    .navbar a {
        display: block;
        float: right;
        font-family: roboto;
        font-size: 16px;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .navbar .except {
        display: block;
        float: left;
        padding: 0px 0px;
    }


.title {
    font-family: robotoL;
    font-size: 48px;
    color: white;
    text-align: right;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.subtitle {
    font-family: robotoL;
    font-size: 48px;
    color: white;
    text-align: center;
    margin: 0;
}

    .subtitle a {
        color: #00ffff;
        font-size: 24px;
    }

.Mainsection {
    display: block;
    position: relative;
    background-color: white;
    padding: 5px;
    margin-top: 100vh;
    width: 100%;
}

    .Mainsection h2 {
        font-family: robotoL;
        text-align: center;
        color: black;
    }

    .Mainsection p {
        font-family: robotoM;
        text-align: center;
        color: black;
    }

.section {
    display: block;
    position: relative;
    background-color: white;
    width: 100%;
    padding: 5px;
}

    .section h2 {
        font-family: robotoL;
        text-align: center;
        color: black;
    }

    .section p {
        font-family: robotoM;
        text-align: center;
        color: black;
    }

    .section div {
        text-align: center;
    }

        .section div div {
            text-align: left;
        }

    .section table {
        font-family: robotoM;
        text-align: center;
        color: black;
        table-layout: fixed;
        width: 100%;
    }

        .section table tr td {
            padding: 10px;
            width: 25%;
        }

            .section table tr td div {
                position: relative;
                overflow: hidden;
            }
                .section table tr td div img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                }

#searchBar {
    color: black;
    margin: 0 auto;
    text-align: center;
}

    #searchBar input {
        font-family: robotoM;
        font-size: 18px;
        text-align: left;
        border-radius: 100px;
        border-style: hidden;
        background-color: #EEEEEE;
        padding: 10px;
        width: 33%;
        text-indent: 7.5px;
        margin-top: 19.920px;
        margin-bottom: 19.920px;
    }

        #searchBar input:focus {
            outline: none;
        } 

.card {
    display: inline-grid;
    background-color: #EEEEEE;
    margin: 10px;
    margin-right: 5px;
    padding: 10px;
    width: 25%;
    min-width: 120px;
    text-align: left;
    align-items: center;
}
    .card h3 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-family: roboto;
        margin-top: 2.5px;
        margin-bottom: 0;
    }

    .card p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-family: robotoM;
        text-align: left;
        margin-top: 0;
    }

    .card img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }

    .card div {
        margin-left: auto;
        margin-right: 0;
        margin-top: 5px;
        width: 70px;
    }

        .card div img {
            height: 25px;
            margin-right: 0;
            margin-left: 5px;
            width: 25px;
        }


p {
    font-family: roboto;
    color: white;
}

body {
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    margin: 0;
}
